body {
    font-family: 'Roboto', sans-serif;
}

.title {
    display: flex;
    justify-content: center;
}
h3 {
    display: flex;
    justify-content: center;
    font-family: 'sf_fortune_wheel_condensedRg';
    transform: scaleX(1.5);
}
.score {
    width: 75%;
    margin-left: 12.5%;
    display: flex;
    justify-content: space-between;
}
#blank {
    display: flex;
    justify-content: center;
    font-size: 32px;
}
.wrongs {
    width: 75%;
    margin-left: 12.5%;
    display: flex;
    justify-content: space-between;
}
.hintButton {
    width: 60%;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button {
height: 30px;
width: 50px;
}
#clue {
    display: flex;
    justify-content: center;
    font-size: 18px;
}
@font-face {
    font-family: 'sf_fortune_wheel_condensedRg';
    src: url('sf_fortune_wheel_condensed.woff2') format('woff2'),
         url('assets/fonts//sf_fortune_wheel_condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}